@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: var(--background);
}

:root {
  --background: #dadfe2;
  --primary: #997b54;
  --secondary: #244952;
}

[data-theme='dark'] {
  --background: #244952;
  --primary: #997b54;
  --secondary: #dadfe2;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1.5s;
}
