/*globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--background);
  color: var(--primary-dark);
}

:root {
  --background: #DADFE2;
  --primary: #997B54
  --secondary: #244952 
}

[data-theme='dark'] {
  --background: #244952;
  --primary: #997B54
  --secondary: #DADFE2
}

[data-theme='light'] {
  --background: #DADFE2;
  --primary: #997B54
  --secondary: #244952
}
